<div id="login">

  <div id="logindiv">

    <h2 id="loginh">Log In</h2>

    <form action="/auth/login" method="POST">

    <div class="loginitems">
          <input type="email" name="email" placeholder="Your email" />
    </div>

    <div class="loginitems">
          <input type="password" name="password" placeholder="Your password" />
    </div>

      <button id="loginbutton" type="submit">Log In</button>


      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}

    </form>

  </div>

</div>