<h1 id="profileh">Your profile</h1>
<div id="profileedit">
    <form action="" method="post">
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" value="{{user.title}}">
        
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" value="{{user.username}}">
        
        <h2>Profile Picture:</h2>
        <img id="profileimg" src="{{user.imageUrl}}" alt="{{user.username}} profile picture">
        <button type="submit">Save changes</button>
    </form>
</div>

