<h1>Your profile</h1>
<h2>Name: {{user.username}}</h2>
<h2>Email: {{user.email}}</h2>
<h2>Profile Picture:</h2>
<img src="{{user.imageUrl}}" alt="{{user.username}} profile picture">
<a href="/profile/edit">Edit Profile</a>