<div id="signup">

  <div id="signupdiv">

    <h2 id="signuph">Sign Up</h2>
    
    <form action="/auth/signup" method="POST" enctype='multipart/form-data'>

      <div class="signupitems">
          <input type="text" name="title" placeholder="Your title" />
      </div>

      <div class="signupitems">
          <input type="text" name="username" placeholder="Your username" />
      </div>

      <div class="signupitems">
          <input type="email" name="email" placeholder="Your email" />
      </div>

      <div class="signupitems"> 
          <input type="password" name="password" placeholder="Your password" />
      </div>

      <div class='form-group'>
          <label>Image:
          <input type='file' name='imageUrl' class='form-control-file' />
          </label>
      </div>
    <button id="signupbutton" type="submit">Sign Up</button>


      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
      
    </form>

  </div>

</div>  