*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  background-color: antiquewhite;
}

a{
  text-decoration: none;
}

.navbar{
  background-color: darkred;
  color: antiquewhite;
}


/* index.hbs */

.mainpage{
  text-align: center;
  background-image: url(https://img.atlasobscura.com/7ExtzOeSLqldbYVI2Fsvx2O8P3emK9kSpZvmvo8vfKQ/rs:fill:12000:12000/q:81/sm:1/scp:1/ar:1/aHR0cHM6Ly9hdGxh/cy1kZXYuczMuYW1h/em9uYXdzLmNvbS91/cGxvYWRzL2Fzc2V0/cy8wMTE1ZmExNzdm/ODYwNzVmMDFfYmEt/b2JqLTQyNzU1LTAw/MDEtcHViLWxhcmdl/LmpwZw.jpg);
  background-size: cover;
  background-position: center;
  color: antiquewhite;
  height: 89.3vh;
}

.titles{
  position: relative;
  top: 20%;
}

.titles h1{
  font-size: 120px;
}

.titles p{
  font-family: 30px;
}

@media(max-width: 584px){
  .titles h1{
    font-size: 80px;
  }
  .titles p{
    font-size: 15px;
  }
}

/* signup.hbs */

#signup{
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signupdiv{
  padding: 30px;
  width: 400px;
  border-radius: 3%;
  text-align: center;
}

#signuph{
  font-size: 30px;
  padding-bottom: 10px;
  color: darkred;
}

.signupitems{
  padding: 10px;
}

#signupbutton{
  margin-top: 10px;
  text-align: center;
  width: 100px;
  height: 40px;
  background-color: darkred;
  color: white;
  border: 5px inset rgb(159, 0, 0);
  border-radius: 5px;
}


/* login.hbs */

#login{
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logindiv{
  padding: 30px;
  width: 400px;
  border-radius: 3%;
  text-align: center;
}

#loginh{
  font-size: 30px;
  padding-bottom: 10px;
  color: darkred
}

.loginitems{
  padding: 10px;
}

#loginbutton{
  margin-top: 10px;
  text-align: center;
  width: 100px;
  height: 40px;
  background-color: darkred;
  color: white;
  border: 5px inset rgb(159, 0, 0);
  border-radius: 5px;
}


/* contact-us.hbs  */

#contactush{
  text-align: center;
  font-size: 40px;
  padding: 20px;
  color: darkred;
}

#contactusdiv{
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
}

#address{
  display: flex;
  align-items: center;
}

.sectionitems{
  padding: 10px 20px 10px 0;
}

.map{
  width: 350px;
  height: 350px;
}

#contactusmessage{
  display: flex;
  flex-direction: column;
  width: 500px;
}

.messageintems{
  padding: 10px;
}

#sendmessagebutton{
  margin-top: 10px;
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: darkred;
  color: white;
  border: 5px inset rgb(159, 0, 0);
  border-radius: 5px;
}


/* wine-list.hbs */

#winelisth{
  font-size: 40px;
  text-align: center;
  color: darkred;
  padding: 20px
}

#winelisteach{
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

#eachwine{
  width: 400px;
  height: 500px;
  background-image: url(../images/painting-frame-nobg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#littlewine{
  width: 350px;
  padding: 0 60px;
  font-size: 14px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

#bottle{ 
height: auto;
align-self: center;
width: 60px;
margin-bottom: 10px;
}

.winebuttons{
  width: 300px;
}


/* profile.hbs 
profile-edit.hbs */

#profilesection{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
}

#profileedit{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.profileelements{
  margin: 10px 0;
}

#profileh{
  text-align: center;
  color: darkred;
  padding: 20px;
  font-size: 40px;
}

#profileimg{
  width: 160px;
  border-radius: 100%;
}

#editprofilebutton{
  margin: 10px;
  text-align: center;
  width: 150px;
  height: 45px;
  background-color: darkred;
  color: white;
  border: 5px inset rgb(159, 0, 0);
  border-radius: 5px;
}

#title, 
#username{
  margin: 10px;
}


/* search.hbs 
result.hbs */

#searchDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

#searchWinery{
  margin: 10px;
}

#searchbuttons{
  margin: 10px;
  text-align: center;
  width: 150px;
  height: 35px;
  background-color: darkred;
  color: white;
  border: 5px inset rgb(159, 0, 0);
  border-radius: 5px;
}

#searchresultsh{

  color: darkred;
  padding: 20px 0 50px 30px;
  font-size: 40px;
}


/* favourites.hbs
wish-list.hbs 
tasted-wines.hbs */


.listsh{
  text-align: center;
  color: darkred;
  padding: 20px;
  font-size: 40px;
}

.listsDivs{
  margin-top: 30px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.listsbuttons{
  margin: 10px;
  text-align: center;
  width: 150px;
  height: auto;
  background-color: darkred;
  color: white;
  border: 5px inset rgb(159, 0, 0);
  border-radius: 5px;
}

#detailspage{
  align-items: center;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 25% 15% 15% 30% 10%;
  /* grid-template-columns: auto; */
  grid-template-areas: 
  "blank winedetailsDiv add-buttons yourreview yourreview "
  "blank submit-review submit-review submit-review submit-review ";
  gap: 10px;
 
  
}

#winedetailsDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: winedetailsDiv;
  
}

.add-buttons{
  grid-area:add-buttons ;
  width:180px;
  
}
.form-flex{
  display:flex; 
  flex-direction: column;
  width:300px;
}
.submit-review{
  grid-area:submit-review ;
  padding-left:30px;
}

#winedetailsreviews{
  font-size: 20px;
  color: darkred;
  grid-area:winedetailsreviews ;
  

}

#yourreview{
  display: flex;
  flex-direction: column;
  grid-area:yourreview
}

@media(max-width:1164px) {
  #detailspage{
    align-items: center;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    
   
    
  }
  
  #winedetailsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  }
  
  .add-buttons{
    
    width:180px;
    
  }
  
  .submit-review{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left:0px;
  }
  
  #winedetailsreviews{
    font-size: 20px;
    color: darkred;
    
    
  
  }
  
  #yourreview{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-flex{
    align-items: center;
    
  }

  .text-area-review{
    width:300px;
  }

  
}

.details-form-container{

  
  display: flex;
  flex-wrap: wrap;
}

.buttonsdiv{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  justify-content: center;
}



#usersreviews{
  margin: 30px 0 0 0;
  padding: 10px 0;
  font-size: 18px;
  background-color: lightgrey;
  width: 300px;
  border-radius: 5px;
  padding-left: 10px;

}



#prevnextbuttons{
  display: flex;
  color: white;
  justify-content: center;
  margin: 10px;
}

.prevnextbutton{
  padding: 10px 30px;
  background-color: darkred;
  margin: 30px;
  border-radius: 5px;
}

.wines-margin{
  margin-bottom: 40px;
}

.no-result-h{
  margin:0 auto;
  text-align:center;
}

.error-img{
  border-radius: 100%;
  border:solid 5px white;
  margin:0 auto;
  height:auto;
  width: 400px;
}

.not-found-img{
  height:auto;
  width:500px;
  margin:0 auto;
}

.page-error{

  color:darkred;
  font-size: 40px;
  

}