<h1>Contact Us</h1>

<p>Please find our contact information bellow:</p>

<div>
    <span><br></span><br>
</div>

<div>

    <div>

        <h2>Leave us a Message:</h2>

        <form action="/" method="post">

            <label for="email">Your email:</label>
            <input type="email" name="email" id="email">
            
            <label for="message">Message:</label>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Write to us..."></textarea>

            <button type="submit">Send Message</button>

        </form>

    </div>

    <section>
        <p>Phone:  +351 919 666 666</p>
        <p>Email: wineapp@wine.com</p>
        <address>IronHack Lisbon Campus<br />R. do Instituto Virgílio Machado 14,<br />1100-284 Lisboa,<br />Portugal<br /></address>
        <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=%20R.%20do%20Instituto%20Virg%C3%ADlio%20Machado%2014,%201100-284%20Lisboa+()&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" class="map-frame" frameborder="0" style="border:0" allowfullscreen></iframe> 
    </section>

</div>