<div id="searchDiv">

    <img width="120px" src="https://res.cloudinary.com/dkoe4o8w1/image/upload/v1676913927/logo-cropped-removebg_zhtekj.png" />
    
    <form action="/wines/search" method="post">

    <input type="text" name="searchWine" id="searchWine">
    <button id="searchbuttons" type="submit">Find Wine</button>
        
    <div>
         <input type="text" name="searchWinery" id="searchWinery">
        <button id="searchbuttons" type="submit">Find by Winery</button>
    </div>
    
    </form>

</div>