<form action="/wines/search" method="post">

<div class="ui-widget">
    <label for="wineSearch"></label>
    <input  id="searchWine">
    <button type="submit">Find Wine!</button>
</div>
    

    <input type="text" name="searchWinery" id="searchWinery">
    <button type="submit">Find by Winery!</button>

</form>

