<form action="/wines/search" method="post">

    <input type="text" name="searchWine" id="searchWine">
    <button type="submit">Find Wine!</button>

    <input type="text" name="searchWinery" id="searchWinery">
    <button type="submit">Find by Winery!</button>

</form>